
{% extends "base.html" %}
{%load static%}
{% block footer-content%}
<h1 class ="text-center">Contaact Us:</h1>
    <div class="container a-2">
        <div class="row">
            <div   class="col-m3-3"></div>
            
            
            <div   class="col-lg-6">
                <form method="post" action="/footer">
                  {% csrf_token %}
                {%for form in form%}
                <div class="form-group ">
                    
                    {{form.label_tag}}{{form}}{{form.errors|striptags}}
                </div>

                {% endfor %}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                
            </div>
           
            
        </div>

        <!--    
         <div   class="col-m3-3"></div>
         
         <div   class="col-md-6">
            <form method="post" action="">
                <label for="email">Email</label>
            <div class="form-group">
              
              <input type="email" class="form-control p-2" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
              
            </div>
            <label for="email">Email</label>
            <div class="form-group">
              
              <input type="email" class="form-control p-3" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
              
            </div>
            <label for="email">Email</label>
            <div class="form-group">
              
              <input type="email" class="form-control p-2" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
              
            </div>
            <label for="email">Email</label>
            <div class="form-group">
              
              <input type="email" class="form-control p-2" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
              
            </div>
            <label for="email">Message</label>
            <div class="form-group">
              
              <textarea type="text" class="form-control p-2" name="message" id="message"  required></textarea>
              
            </div>
            <div>
            <button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block">Submit</button>
            </div>
        </form>
     
        </div>
        
        <div   class="col-m3-6 ml-4">
            
            <td> <img src="{% static 'my_img/contact.jpg' %}" alt="My image"></td>
         </div>
         -->
    
</div>
{%endblock footer-content%}